@import "tailwindcss";

@theme {
  --font-sans: "Roboto Mono", monospace;
  --size-screen: 100dvh;
}

:root {
  --primary-color: #00a1a1;
  --secondary-color: #f5e8d1;
  --dark-variant: #001111;
  --light-variant: #ebf6f5;
}

@layer components {
  .input {
    @apply bg-[#FEFDFA] rounded-full border border-[#D5CAB5]
    px-4 py-2 text-sm transition-all duration-300 focus:outline-none
    focus:ring focus:ring-[#989081] md:px-6 md:py-3;
  }

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(var(--dark-variant) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}
